@font-face {
    font-family: 'outfit';
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'young-serif';
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

:root {
    --bodycolor: hsl(30, 54%, 90%);
    --darkpink: hsl(332, 51%, 32%);
    --lightpink: hsl(330, 100%, 98%);
    --h2color: hsl(14, 45%, 36%);
    --pcolor: hsl(30, 10%, 34%);
    --containerColor: hsl(0, 0%, 100%);
    --omlette: hsl(24, 5%, 18%);
    --bold: hsl(30, 10%, 34%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bodycolor);
    font-family:'outfit';
}
.container{
    background-color: white;
    height: 210vh;
    width: 50vw;
    border-radius: 20px;
    margin: 50px;
    padding: 40px;
    font-family:'outfit';
}
.ingredients{
    margin: 30px 0px;
}
hr{
    color: var(--bold);
}
.ingredients > ul{
    padding-left: 20px;
    color: var(--bold);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.instructions{
    font-family:'outfit';
}
.instructions ol {
    list-style-position: outside;
    padding-left: 1.5rem;   /* reserve space INSIDE container for numbers */
    margin: 0;
}

.instructions ol li {
    padding-left: 1.2rem;   /* space between number and text */
    margin-bottom: 12px;    /* space between lines */
    line-height: 1.6;       /* better readability */
    color: var(--bold);
}

.instructions ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}
.nutrition{
    font-family:'outfit';
    color: var(--bold);
    width: 100%;
}

.nutrition section p{
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

img {
    max-width: 100%;
    border-radius: 10px;
}
table{
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid black;
    padding: 10px;
}
td > strong {
    color: var(--h2color);
}

h1, h2{
    color: var(--omlette);
    font-family:'young-serif';
    margin: 1rem 0px;
}
.banner > p{
    color: var(--bold);
    line-height: 1.6;
    font-size:medium;
    margin: 1rem 0px;
}
h2{
    color: var(--h2color);
}

article{
    background-color: var(--lightpink);
    border-radius: 10px;
    padding: 20px;
    font-weight:400;
    font-size: 16px;
}

h3{
    color: var(--darkpink);
}
article > ul{
    padding: 20px;
    color: var(--bold);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}